body{
    background-color: hsl(210, 20%, 92%);
}
.box{
   width: 330px;
   display: flex;
   height: auto;
   background-color: hsl(200, 70%, 85%);
   flex-direction: column;
   justify-content: center;
   text-align: center;
   padding: 20px;
   border-radius: 15px;
   border: 2px solid hsl(210, 15%, 40%);
}
.container{
    display: flex;
    justify-content: center;
    margin-top: 60px;
}
#myBut{
     background-color: hsl(240, 80%, 50%);
     color: hsl(0, 0%, 100%);
     border-radius: 20px;
     cursor: pointer;
     padding: 10px;
     font-size: 1.2rem;
}
#myBut:hover{
        background-color: hsl(240, 80%, 60%);
}
#myBut:active{
        background-color: hsl(240, 80%, 70%);
}